<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolProject"
        tools:targetApi="31">
        <activity
            android:name=".view.Notebook"
            android:exported="false" />
        <activity
            android:name=".view.Gramma"
            android:exported="false" />
        <activity
            android:name=".view.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".view.Questions_spisok"
            android:exported="false" />
        <activity
            android:name=".view.question"
            android:exported="false" />
        <activity
            android:name=".view.test"
            android:exported="false" />
        <activity
            android:name=".view.Redact"
            android:exported="false" />
        <activity
            android:name=".view.dictionary"
            android:exported="false" />
        <activity
            android:name=".view.chosing"
            android:exported="false" />
        <activity
            android:name=".Chosing"
            android:exported="false"
            android:label="@string/title_activity_chosing"
            android:theme="@style/Theme.SchoolProject" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>